[Desktop Entry]
Type=Application
Version=1.0
Name=AkibaCore
GenericName=Gestion AVEC
Comment=Système de gestion des Associations Villageoises d'Épargne et de Crédit
Exec=/home/abdallahx/Bureau/ABDALLAH/AkibaCore/lancer_akibacore.sh
Path=/home/abdallahx/Bureau/ABDALLAH/AkibaCore
Icon=/home/abdallahx/.local/share/icons/icone_akibacore.png
Terminal=false
Categories=Office;Finance;Database;
Keywords=avec;epargne;credit;microfinance;tontine;
StartupNotify=true
